@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add this to your styles.css or your Tailwind CSS file */
.text-stroke {
  -webkit-text-stroke: 3px #28ABB9; /* stroke width and color */
  color: transparent; /* optional: to make the fill transparent */
}
.green-stroke {
  -webkit-text-stroke: 3px #A8DDA8; /* stroke width and color */
  color: transparent; /* optional: to make the fill transparent */
}